# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
*.local.json

# Logs
*.log

# Node/pnpm (default)
node_modules
dist
.parcel-cache
*.tsbuildinfo

# Elm
elm-stuff

# Local vector store written by the local-rag MCP server. Regenerable.
# Added 2026-07-25 10:31 IST
lancedb/
